    page-home {
        .button {
            margin-bottom: 30px;
        }
        ;
        .header {
            text-transform: uppercase;
            // background-color: #710B0B;
            background-color: black;
            // color: whitesmoke;
            color: #DE5726;
            font-weight: bold;
        }
        .logo {
            align-items: center;
            text-align: center;
        }
        .bouton {
            color: black;
            font-weight: bold;
            font-style: italic;
        }
    }